.pagination-buttons {
    text-align: center;
    margin-left: 32px;
}

.pagination {
    height: 60px;
    width: 98px;
    font-size: 20px;
    background-color: #F9F1E7;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.pagination:hover {
    background-color: #B88E2F;
}