.cartContainer {
    height: 525px;
    display: flex;
    justify-content: center;
}

.colums {
    display: flex;
    height: 55px;
    width: 817px;
    background-color: #F9F1E7;
    align-items: center;
    margin: 68px 30px 0;
}

.colums p {
    font-weight: 500;
}

.cartTotais {
    height: 390px;
    width: 393px;
    background-color: #F9F1E7;
    text-align: center;
    margin-top: 68px;
}

.cartTotais h2 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 20px;
}

.cartTotais p { 
    font-weight: 500;
}

.checkout {
    height: 58px;
    width: 222px;
    background-color: #F9F1E7;
    border: 1px solid;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 60px;
}

.productsInCart .productImage {
    height: 105px;
    width: 108px;
    border: solid 1px #9F9F9F;
    border-radius: 15px;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
}

.item p {
    width: 150px;
}

.quantityContainer {
    height: 47px;
    width: 106px;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.increment, .decrement {
    border: none;
    background-color: white;
    cursor: pointer;
}

.increment, .decrement, .spanQuantity {
    margin: 15px 10px 0 10px;
}

.trash {
    cursor: pointer;
    padding-right: 30px;
}

.priceColum {
    position: absolute;
    left: 34.7%;
}

.subtotalColum {
    position: absolute;
    left: 50.5%;
}

.quantityColum {
    position: absolute;
    left: 43.7%;
}

.productColum {
    position: absolute;
    left: 23%;
}

.pPriceId, .pTitleId {
    color: #9F9F9F;
}

.subtotalCartMainContainer, .totalCartMainContainer {
    display: flex;
    margin-top: 45px;
    margin-left: 80px;
    align-items: center;
}

.subtotalCartMainValue, .totalCartMainValue {
    padding-left: 80px;
}

.subtotalCartMainValue {
    font-size: 16px;
    color: #9F9F9F;
}

.totalCartMainValue {
    color: #B88E2F;
    font-size: 22px;
}

.noItemsMain {
    text-align: center;
    margin-top: 40px;
}
