.sec01 {
    height: 316px;
    background-image: url(src/components/Section01/img/Rectangle1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec01 h1 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 500;
    text-align: center;
    padding-top: 102px;
}

.sec01 div {
    display: flex;
    justify-content: center;
}

.sec01 .Home {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.sec01 .Shop {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-left: 5px;
}